body {
    background: #33333c;
}

main {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    min-height: 98vh;
    width: 350px;
}

.field {
    margin-top: -1px;
}

.label,
input,
select {
    box-sizing: border-box;
    padding: 0.75rem;
    width: 250px;
}

.itemized {
    border: 1px solid #fff;
    box-sizing: border-box;
    color: #ccc;
    display: block;
    padding: 0.75rem;
    margin-top: -1px;
    text-align: end;
    width: 98px;
}

.label {
    color: #ccc;
}

.label,
.total {
    align-self: center;
}
