body {
    background: #33333c;
    font-family: monospace;
    font-size: 16px;
}

main {
    padding-top: 10%;
}

h1 {
    color: #ccc;
    margin-bottom: 3rem;
    text-align: center;
}

.container {
    align-content: center;
    display: grid;
    grid-template-columns: 20% 55% 25%;
    margin: 0 auto;
    width: 75%;
}

.field {
    margin-top: -1px;
}

.label,
.field > * {
    box-sizing: border-box;
    padding: 0.75rem;
}

.field > * {
    width: 100%;
}

.itemized {
    background: #33333c;
    border: 1px solid #fff;
    box-sizing: border-box;
    color: #ccc;
    display: block;
    padding: 0.75rem;
    margin-top: -1px;
    text-align: end;
}

.label {
    background-color: #445;
    color: #ccc;
    text-align: right;
}

.total-label {
    margin-left: auto;
    width: 36%;
}
